includes:
    - tools/phpstan/vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    bootstrapFiles:
        - wp-content/plugins/tacnav-maps/phpstan-bootstrap.php
    paths:
        - wp-content/plugins/tacnav-maps
    excludePaths:
        - wp-content/plugins/tacnav-maps/tests
        - wp-content/plugins/tacnav-maps/phpstan-bootstrap.php
        - wp-content/plugins/tacnav-maps/vendor
        - tools/
        - vendor/(?)
        - node_modules/(?)
    parallel:
        maximumNumberOfProcesses: 1
