<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"tacnav-entry","layout":{"type":"constrained"}} -->
<main class="wp-block-group tacnav-entry">
	<!-- wp:buttons {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
	<div class="wp-block-buttons">
		<!-- wp:button -->
		<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/wp-login.php">Organizer</a></div>
		<!-- /wp:button -->

		<!-- wp:button -->
		<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/tacnav-player/">Player</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
